/*--------------------------------------------------------------------------------*/
/* 
/*	Global Elements
/*
/*--------------------------------------------------------------------------------*/
html body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
img, img a, a img, img a:link {
	border: none;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}



/*--------------------------------------------------------------------------------*/
/* 
/*	Containers
/*
/*--------------------------------------------------------------------------------*/
#wrapper {
	display: block;
}
#header {
	position: fixed;
	top: 0px;
	width: 100%;
}
#container {
	padding: 36px 20px 20px;
}
#top_nav {
	background: #333;
	margin-top: 0px;
}
#menu_bar {
	background: #333;
	display: none;
	height: 40px;
	left: 0px;
	position: fixed;
	top: auto;
	width: 100%;
	z-index: 998;
}
#side_nav {
	background: #1c1c1c;
	display: none;
	height: auto;
	left: -9999px;
	min-height: 100%;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1;
}



/*--------------------------------------------------------------------------------*/
/* 
/*	Top-Level Navigation
/*
/*--------------------------------------------------------------------------------*/
#top_nav ul {
	display: block;
	height: 40px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#top_nav ul li {
	display: inline;
	float: left;
	font-size: 0.95em;
	list-style: none;
	margin: 0px 10px 0px 5px;
	overflow: visible;
	padding: 0;
	width: 0;
}
#top_nav ul > li {
	width: auto;
}
#top_nav ul li a,
#top_nav ul li a:link {
	display: block;
	color: #d4d4d4;
	height: 100%;
	padding: 12px 5px 12px 5px;
	text-decoration: none;
}
#top_nav ul li a:visited {
	color: #d4d4d4;
}
#top_nav ul li.active,
#top_nav ul li.active a,
#top_nav ul li.active a:link,
#top_nav ul li.active a:visited {
	color: #fff;
}
#top_nav ul li a:hover {
	color: #fff;
}
#top_nav ul li a:active {
	
}



/*--------------------------------------------------------------------------------*/
/* 
/*	2nd-Level Navigation
/*
/*--------------------------------------------------------------------------------*/
#top_nav ul li ul {
	background: #c4c4c4 url(../images/subnav_bg_inner_shadow.png) repeat-x top left;
	display: none;
	float: none;
	height: auto;
	left: auto;
	padding: 0px;
	position: absolute;
	top: 40px;
	width: 180px;
}
#top_nav ul li:hover ul {
	display: block;
}
#top_nav ul li ul li {
	display: block;
	float: none;
	font-size: 0.875em;
	height: auto;
	margin: 0px;
	text-shadow: #c4c4c4 0px 1px 0px;
}
#top_nav ul li ul li a,
#top_nav ul li ul li a:link,
#top_nav ul li.active ul li a,
#top_nav ul li.active ul li a:link {
	color: #1c1c1c !important;
	height: auto;
	padding: 8px 10px;
}
#top_nav ul li ul li.active {
	font-weight: bold;
}
#top_nav ul li ul li.active a,
#top_nav ul li ul li.active a:link,
#top_nav ul li ul li.active a:visited {
	
}
#top_nav ul li ul li:hover a,
#top_nav ul li ul li a:hover {
	background: url(../images/subnav_highlight_bg.png) repeat;
}



/*--------------------------------------------------------------------------------*/
/* 
/*	Side Bar
/*
/*--------------------------------------------------------------------------------*/
#side_nav ul {
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
}
#side_nav ul li {
	background: #2c2c2c;
	border-bottom: 1px solid #090909;
	border-top: 1px solid #444;
	cursor: pointer;
	font-size: 1em;
	list-style: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
	width: 100%;
}
#side_nav ul li div.contracted {
	
}
#side_nav ul li div {
	background: url(../images/side_nav_item_arrow.png) no-repeat right 0px;
	float: right;
	height: 37px;
	right: 0px;
	width: 48px;
}
#side_nav ul li div.expanded {
	background-position: right -40px;
}
#side_nav ul li a,
#side_nav ul li a:link {
	color: #fff;
	display: block;
	padding: 10px 5% 10px 5%;
	text-decoration: none;
	width: 90%;
}
#side_nav ul li a:visited {
	color: #fff;
}
#side_nav ul li a:hover {
	
}
#side_nav ul li a:active {
	
}
#side_nav ul li ul,
#side_nav ul li.contracted ul {
	background: #1c1c1c;
	border-top: 1px solid #090909;
	display: none;
	position: relative;
	top: auto;
	width: 100%;
}
#side_nav ul li.expanded ul {
	display: block;
}
#side_nav ul li ul li {
	background: none;
	border-top: 1px solid #2c2c2c;
}
#side_nav ul li ul li a,
#side_nav ul li ul li a:link {
	padding-left: 10%;
	width: 85%;
}
#side_nav ul li ul li:hover {
	background: none;
}
#side_nav_close {
	background: url(../images/side_nav_close.png) no-repeat right 0px;
	color: #bababa;
	cursor: pointer;
	height: 40px;
	text-align: right;
	text-shadow: #000 0px 1px 0px;
	text-transform: uppercase;
	width: 100%;
	position: absolute;
	right: 0px;
	top: 3px;
}
#side_nav_close .label {
	font-size: 0.75em;
	padding: 13px 40px 0px 0px;
}



/*--------------------------------------------------------------------------------*/
/* 
/*	Menu Bar
/*
/*--------------------------------------------------------------------------------*/
#mobile_menu,
#mobile_top {
	color: #fff;
	height: 40px;
	padding: 9px 0px;
	position: absolute;
	text-indent: -9999em;
	top: 0;
	width: 48px;
}
#mobile_menu {
	background: url(../images/mobile_menu_icon.png) no-repeat left top;
	left: 0;
}
#mobile_top {
	background: url(../images/mobile_top_icon.png) no-repeat right top;
	display: none;
	right: 0;
}



/*--------------------------------------------------------------------------------*/
/* 
/*	Mobile
/*
/*--------------------------------------------------------------------------------*/
@media screen and (max-width: 600px) {

	#wrapper {
		
	}
	#header {
		display: none;
	}
	#container {
		padding-left: 5%;
		padding-right: 5%;
	}
	#top_nav {
		margin-top: 44px;
	}
	#top_nav ul {
		height: auto;
	}
	#top_nav ul li:hover ul {
		display: none;
	}
	#top_nav ul li ul li:hover a,
	#top_nav ul li ul li a:hover,
	#side_nav ul li ul li:hover {
		background: none;
	}
	#top_nav ul li ul li a,
	#top_nav ul li ul li a:link,
	#top_nav ul li.active ul li a,
	#top_nav ul li.active ul li a:link {
		color: #fff !important;
		padding-top: 10px;
		text-shadow: none;
	}
	#menu_bar {
		display: block;
	}
	#side_nav {
		display: block;
	}

}



/*--------------------------------------------------------------------------------*/
/* 
/*	Retina
/*
/*--------------------------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	   only screen and (min--moz-device-pixel-ratio: 2),
	   only screen and (-o-min-device-pixel-ratio: 2/1),
	   only screen and (min-device-pixel-ratio: 2) {

   	#side_nav ul li div {
   		background: url(../images/side_nav_item_arrow@2x.png) no-repeat right 0px;
		-webkit-background-size: auto 80px;
		   -moz-background-size: auto 80px;
				background-size: auto 80px;
   	}
   	#side_nav ul li div.expanded {
		background: url(../images/side_nav_item_arrow@2x.png) no-repeat right -40px;
		-webkit-background-size: auto 80px;
		   -moz-background-size: auto 80px;
				background-size: auto 80px;
	}
	#side_nav_close {
		background-image: url(../images/side_nav_close@2x.png);
		-webkit-background-size: auto 40px;
		   -moz-background-size: auto 40px;
				background-size: auto 40px;
	}
	#mobile_menu {
		background-image: url(../images/mobile_menu_icon@2x.png);
		-webkit-background-size: auto 40px;
		   -moz-background-size: auto 40px;
				background-size: auto 40px;
	}
	#mobile_top {
		background-image: url(../images/mobile_top_icon@2x.png);
		-webkit-background-size: auto 40px;
		   -moz-background-size: auto 40px;
				background-size: auto 40px;
	}

}
